:root {
  color-scheme: light dark;
}

body {
  margin: 50px;
  color: light-dark(gray, red);
  background-color: goldenrod;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}
