html,
body {
  block-size: 100%;
}

.container {
  block-size: 100%;
  display: flex;
  flex-flow: column nowrap;

  .header,
  .navigation,
  .sidebar,
  .main-content,
  .footer {
    /* inline-size: 100%; */
    padding: 20px;
  }

  .header {
    background: darkcyan;
  }

  .navigation {
    background: darkorange;
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    /* 스크롤이 발생했을 때 스크롤바가 보여지지 않도록 숨김 */
    /* 스크롤바를 제거하면 경우에 따라 콘텐츠 일부가 보이지 않을 수 있어 주의 필요 */
    overflow: hidden;
  }

  .sidebar {
    inline-size: 250px;
    background: pink;
  }

  .main-content {
    background: lime;
    flex-grow: 1;
  }

  .footer {
    background: gray;
  }
}
